@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$gameFont: "Press Start 2P", cursive;
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-rows: 1fr 3fr;
  place-items: center;
  background: #f6e6bd;
  height: 100vh;
}
main {
  display: grid;
  place-items: center;
  // margin-top: 2%;
  grid-template-rows: 0.25fr 1fr 0.25fr;
}
section {
  &:hover {
    cursor: pointer;
  }
}
h1 {
  font-family: $gameFont;
  color: #315a7b;
  font-size: 30px;
  margin-bottom: 8%;
}
.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pokemonOption {
  display: grid;
  place-items: center;
}
.headerPic {
  height: 20vh;
}
img {
  height: 300px;
}
h2 {
  font-family: $gameFont;
  margin-top: 30px;
  font-size: 20px;
  color: #315a7b;
}
#resume {
  margin-top: 10%;
  color: #735a20;
}
