@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
$gameFont: "Press Start 2P", cursive;
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/images/backgroundPic2.jpg);
  // object-fit: cover;
  // background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-rows: 1.25fr 3fr;
  place-items: center;
}
header {
  display: grid;
  place-items: center;
}
.headerPic {
  height: 20vh;
  width: 500px;
}
main {
  align-self: end;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  height: 90%;
  width: 100%;
  // align-self: end;
}
a {
  font-family: $gameFont;
  text-decoration: none;
  font-size: 20px;
  color: #2f6fb9;
  font-weight: bold;
  background: #f1ca23;
  border-radius: 10px;
  width: 450px;
  height: 30px;
  padding-top: 8px;
  text-align: center;
  box-shadow: 1px 1px 2px #fff;
  margin-top: 20px;
}
section {
  align-self: end;
  display: grid;
  grid-template-rows: 15% 85%;
  justify-items: center;
  height: 90%;
  width: 100%;
}
img {
  height: 350px;
}
// #playerPkmContainer {
//   height: 50px;
// }
#winContainer {
  position: absolute;
  left: 45%;
}
.pokemonContainer {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
  place-items: center;
  justify-self: start;
  align-self: end;
}
#opponentContainer {
  display: grid;
  grid-template-columns: 50px 1fr;
}
// #enemyContainer {
//   margin-top: 60px;
// }
// .healthBar {
//   border: 1px solid black;
//   padding: 10px;
// }
.attackButtonsContainer {
  display: grid;
  place-items: center;
  row-gap: 10px;
  margin-left: 10%;
}
.attackButton {
  // font-family: $gameFont;
  display: grid;
  place-items: center;
  background: #c73136;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  width: 200px;
  height: 70px;
  text-align: center;
  &:hover {
    background: #b8292e;
    cursor: pointer;
  }
}
#winContainer {
  width: 100%;
}
