* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  place-items: center;
  background: #f6e6bd;
}
main {
  display: grid;
  place-items: center;
  margin-top: 2%;
  grid-template-rows: 0.5fr 2fr 1fr;
}
section {
  &:hover {
    cursor: pointer;
  }
}
h1 {
  color: #315a7b;
  font-size: 50px;
  margin-bottom: 5%;
}
.optionsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.pokemonOption {
  display: grid;
  place-items: center;
}
img {
  height: 300px;
}
h2 {
  font-size: 30px;
  color: #315a7b;
}
#resume {
  color: #735a20;
}
